@theme {
    // blue charcoal primary - 950
    --color-blue-charcoal-50: #eef6ff;
    --color-blue-charcoal-100: #dcecff;
    --color-blue-charcoal-200: #b2daff;
    --color-blue-charcoal-300: #6dbcff;
    --color-blue-charcoal-400: #2099ff;
    --color-blue-charcoal-500: #007cff;
    --color-blue-charcoal-600: #005fdf;
    --color-blue-charcoal-700: #004bb4;
    --color-blue-charcoal-800: #004095;
    --color-blue-charcoal-900: #00357a;
    --color-blue-charcoal-950: #000814;

    // midnight primary - 950
    --color-midnight-50: #e9faff;
    --color-midnight-100: #cef4ff;
    --color-midnight-200: #a7eeff;
    --color-midnight-300: #6be7ff;
    --color-midnight-400: #26d4ff;
    --color-midnight-500: #00b0ff;
    --color-midnight-600: #0086ff;
    --color-midnight-700: #006bff;
    --color-midnight-800: #005ce6;
    --color-midnight-900: #0052b3;
    --color-midnight-950: #001d3d;

    // midnight blue primary - 900
    --color-midnight-blue-50: #eef7ff;
    --color-midnight-blue-100: #dcefff;
    --color-midnight-blue-200: #b2e0ff;
    --color-midnight-blue-300: #6dc8ff;
    --color-midnight-blue-400: #20adff;
    --color-midnight-blue-500: #0092ff;
    --color-midnight-blue-600: #0073df;
    --color-midnight-blue-700: #005bb4;
    --color-midnight-blue-800: #004d94;
    --color-midnight-blue-900: #003566;
    --color-midnight-blue-950: #002851;

    // amber primary - 500
    --color-amber-50: #ffffea;
    --color-amber-100: #fffcc5;
    --color-amber-200: #fffa85;
    --color-amber-300: #fff046;
    --color-amber-400: #ffe21b;
    --color-amber-500: #ffc300;
    --color-amber-600: #e29700;
    --color-amber-700: #bb6b02;
    --color-amber-800: #985308;
    --color-amber-900: #7c430b;
    --color-amber-950: #482300;

    // gold primary - 400
    --color-gold-50: #fefde8;
    --color-gold-100: #fffcc2;
    --color-gold-200: #fff687;
    --color-gold-300: #ffe943;
    --color-gold-400: #ffd60a;
    --color-gold-500: #efbe03;
    --color-gold-600: #ce9300;
    --color-gold-700: #a46804;
    --color-gold-800: #88510b;
    --color-gold-900: #734210;
    --color-gold-950: #432205;
}
